@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

$color-white: #ffffff;
$color-yellow: #f7c334;
$color-black: #2f2a2a;
$color-grey: #c4c4c4;
$font-montserrat: "Montserrat", "Arial", sans-serif;
$font-open-sans: "Open-Sans", "Arial", sans-serif;
$font-tinos: "Tinos", "Arial", sans-serif;
$font-inter: "Inter", "Arial", sans-serif;

%ul-properties {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

%a-properties {
  text-decoration: none;
  color: $color-white;
  transition: 1s ease-in-out;
}

%title-properties {
  font: 100% $font-tinos;
  font-size: 54px;
  line-height: 62px;
}

%text-properties {
  font: 100% $font-tinos;
  font-size: 26px;
  line-height: 30px;
}

%subtext-properties {
  font-size: 20px;
  line-height: 28px;
}

.html {
  box-sizing: border-box;
  height: 100%;
}

.root {
  height: 100%;
  font: 100% $font-open-sans;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $color-white;
  line-height: 29px;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  &__inner {
    background-color: $color-black;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
  }

  &__menu-btn {
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    display: none;
  }

  &__menu-line {
    height: 2px;
    background-color: $color-yellow;
    border-radius: 50px;
    width: 100%;
  }

  &__menu-list {
    display: flex;
    gap: 38px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__menu-list-link {
    text-decoration: none;
    color: $color-yellow;
    text-transform: uppercase;
    font: 100% $font-montserrat;
    font-weight: 700;
  }

  &__order {
    display: flex;
    align-items: center;
    gap: 19px;
  }

  &__order-trash {
    width: 16px;
    height: 15px;
    background-color: $color-black;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  &__contact-us {
    border-left: 1px solid $color-yellow;
    max-width: 122px;
    padding-left: 9px;
  }

  &__phone {
    display: flex;
    gap: 9px;
    align-items: flex-start;
  }

  &__phone-img {
    width: 21px;
    height: 21px;
  }

  &__phone-number {
    color: $color-yellow;
    margin: 0;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
  }

  &__contact-text {
    color: $color-yellow;
    margin: 0;
    font-size: 10px;
    line-height: 14px;
  }

  &__button-order {
    max-width: 134px;
    border-radius: 120px;
    background-color: $color-yellow;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    height: 36px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
  }
}

.main {
  flex-grow: 1;
}

.top {
  display: flex;
  background-image: url(../images/top__background.jpg);
  background-repeat: no-repeat;
  min-height: 960px;

  &__wrapper-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 207px;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    font: 100% $font-tinos;
    text-align: center;
    font-size: 57px;
    line-height: 66px;
    margin: 0;
    color: $color-yellow;
  }

  &__title {
    font: 100% $font-tinos;
    text-align: center;
    font-size: 90px;
    line-height: 103px;
    margin: 0;
    color: $color-yellow;
  }

  &__title-descrition {
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
    margin: 27px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
  }

  &__text-line {
    height: 2px;
    width: 62px;
    background-color: $color-grey;
  }

  &__btn {
    text-transform: uppercase;
    background-color: $color-yellow;
    border-radius: 120px;
    width: 134px;
    height: 36px;
    color: $color-white;
    margin-top: 68px;
    display: none;
    cursor: pointer;
  }
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro {
  margin: -130px 0 0;
  box-sizing: border-box;

  &__cards-items {
    display: flex;
    gap: 31px;
    @extend %ul-properties;
  }

  &__card-item {
    width: 349px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353030;
    padding: 48px 20px 54px;
    height: 270px;
  }

  &__card-img {
    width: 87px;
    height: 87px;
  }

  &__card-title {
    @extend %text-properties;
    margin: 4px 0 0;
  }

  &__card-title_type_yellow {
    @extend %text-properties;
    color: $color-yellow;
  }

  &__card-text {
    @extend %text-properties;
    margin: 20px 0 0;
    text-align: center;
  }
}

.our-story {
  padding: 36px 0 122px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  &__text-wrapper {
    max-width: 444px;
  }

  &__title {
    @extend %title-properties;
    margin: 15px 0 0;
    text-align: center;
  }

  &__title_type_yellow {
    @extend %title-properties;
    color: $color-yellow;
  }

  &__text {
    margin: 21px 0 0;
    line-height: 22px;
    text-align: center;
  }

  &__counter-food {
    @extend %ul-properties;
    margin-top: 39px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__counter-number {
    color: $color-yellow;
    font-size: 40px;
    line-height: 55px;
    margin: 0;
    text-align: center;
  }

  &__counret-text {
    @extend %subtext-properties;
    margin: 2px 0 0;
    text-align: center;
  }

  &__image {
    display: block;
    max-width: 539px;
    width: 100%;
  }
}

.order {
  background-image: url(../images/order__background.jpg);
  min-height: 100%;
  padding: 80px 0 104px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-text {
    max-width: 610px;
  }

  &__title {
    @extend %title-properties;
    line-height: 60px;
    color: $color-yellow;
    margin: 0;
  }

  &__text {
    margin: 20px 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }

  &__btn {
    background-color: $color-yellow;
    max-width: 141px;
    height: 36px;
    border-radius: 120px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    color: $color-white;
  }
}

.dishes {
  background-image: url(../images/dishes__background.png);
  padding: 88px 0 96px;

  &__title {
    @extend %title-properties;
    color: $color-yellow;
    text-align: center;
    margin: 0;
  }

  &__wrapper {
    margin: 70px 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__images {
    max-width: 553px;
    display: grid;
    gap: 10px;
    grid-template-areas:
      "img1 img1"
      "img2 img4"
      "img3 img4";
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image1 {
    grid-area: img1;
  }

  &__image2 {
    grid-area: img2;
  }

  &__image3 {
    grid-area: img3;
  }

  &__image4 {
    grid-area: img4;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cards {
    @extend %ul-properties;
    max-width: 451px;
    display: flex;
    flex-direction: column;
    gap: 51px;
  }

  &__card {
    background-color: #3c3636;
    border-radius: 50px 0;
    position: relative;
    padding: 14px 41px 58px;
  }

  &__card-img {
    position: absolute;
    top: -30px;
    left: -30px;
  }

  &__card-title {
    font: 100% $font-tinos;
    font-size: 20px;
    line-height: 26px;
    color: $color-yellow;
    margin: 0 0 0 150px;
  }

  &__card-text {
    font: 100% $font-tinos;
    font-size: 15px;
    line-height: 26px;
    margin: 9px 0 0 150px;
  }

  &__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    background-color: $color-yellow;
    border-radius: 120px;
    max-width: 188px;
    height: 36px;
    margin: 45px 0 0;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.slider {
  background-image: url(../images/slider__background.jpg);
  padding: 110px 0 80px;
  height: 100%;
}

.visitor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 920px;
  margin: 0 auto;

  &__text {
    font-style: italic;
    @extend %subtext-properties;
    text-align: center;
    margin: 0;
  }

  &__foto {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    margin: 50px 0 0 0;
    object-fit: cover;
  }

  &__status {
    font-weight: 600;
    @extend %subtext-properties;
    margin: 7px 0 0 0;
  }

  &__name {
    @extend %subtext-properties;
    margin: 10px 0 0;
    padding-bottom: 40px;
  }
}

.gallery {
  padding: 21px 0;

  &__title {
    @extend %title-properties;
    text-align: center;
    margin: 0;
  }

  &__title_type_yellow {
    color: $color-yellow;
  }

  &__images {
    margin: 60px auto 0;
    max-width: 1100px;
    display: grid;
    grid-template-areas: 
    "item-1 item-1 item-2 item-3"
    "item-4 item-5 item-6 item-6"
    ;
    gap: 30px;
    padding: 0 20px;
  }

  &__item {
    width: 100%;
    height: 274px;
    object-fit: cover;
    object-position: center;
  }

  &__item-1 {
    grid-area: item-1;
    max-width: 540px;
  }

  &__item-2 {
    grid-area: item-2;
    max-width: 254px;
  }

  &__item-3 {
    grid-area: item-3;
    max-width: 254px;
  }

  &__item-4 {
    grid-area: item-4;
    max-width: 254px;
  }

  &__item-5 {
    grid-area: item-5;
    max-width: 254px;
  }

  &__item-6 {
    grid-area: item-6;
    max-width: 540px;
  }
}

.cooks {
  margin: 0 auto;
  padding: 63px 0 33px;

  &__title {
      @extend %title-properties;
      margin: 0;
      text-align: center;
  }

  &__title_type_yellow {
    color: $color-yellow;
  }

  &__photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 57px;
    margin: 77px 0 0;
    padding: 0 20px;
  }

  &__photo {
    max-width: 374px;
    width: 100%;
  }
}

.restaurant-hall {
  &__background {
    width: 100%;
    min-height: 1050px;
    object-fit: cover;
  }
}

.footer {
  padding: 82px 0 197px;

  &__wrapper-items {
    display: flex;
    gap: 100px;
  }

  &__logo-item {
    max-width: 408px;
  }

  &__logo {
    width: 152px;
    height: 48px;
  }

  &__description {
    font: 100% $font-inter;
    margin: 15px 0 0;
  }

  &__nav-title {
    font: 100% $font-inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    margin: 0;
  }

  &__nav-items {
    @extend %ul-properties;
  }

  &__nav-item {
    font: 100% $font-inter;
    line-height: 40px;
  }

  &__nav-link {
    @extend %a-properties;
  }

  &__nav-link:hover {
    opacity: .7;
  }

  &__menu-title {
    font: 100% $font-inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    margin: 0;
  }

  &__menu-items {
    @extend %ul-properties;
    max-width: 175px;
  }

  &__menu-item {
    font: 100% $font-inter;
    line-height: 40px;
  }

  &__menu-link {
    @extend %a-properties;
  }

  &__menu-link:hover {
    opacity: .7;
  }

  &__job-time {
    margin-top: 21px;
  }

  &__job-time-title {
    font: 100% $font-inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    margin: 0;
  }

  &__days {
    display: flex;
    gap: 42px;
  }

  &__days-text {
    font: 100% $font-inter;
    line-height: 40px;
    margin: 0;
    max-width: 150px;
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  &__copy-text {
    font: 100% $font-inter;
    margin: 0;
  }

  &__privacy {
    display: flex;
    gap: 40px;
  }

  &__privacy-text {
    font: 100% $font-inter;
    margin: 0;
  }
}

@media (max-width: 1180px) {
  .header__button-order {
    display: none;
  }

  .intro__cards-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .dishes {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }

  .cooks {
    &__photos {
      gap: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .header__order {
    display: none;
  }

  .top {
    min-height: 900px;

    &__wrapper-text {
      margin: 0 auto;
    }

    &__title {
      color: $color-white;
    }

    &__subtitle {
      color: $color-white;
    }
  }

  .our-story__wrapper{
    flex-direction: column;
    align-items: center;
  }

  .order {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  

    &__btn {
      margin-top: 40px;
    }
  }
  .slider {
    background: #000;
  }

  .gallery {
    &__images {
      gap: 15px;
    }
  }

  .footer {
    &__wrapper-items {
      gap: 75px;
    }
  }
  }

@media (max-width: 860px) {
  .header {
    &__menu-btn {
      display: flex;
      position: relative;
      z-index: 3;
    }

    &__logo {
      position: relative;
      z-index: 3;
    }

    &__menu-list {
      position: absolute;
      background-color: $color-black;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      z-index: 2;
      align-items: center;
      height: 100vh;
      padding-top: 150px;
      transform: translateY(-100%);
      transition: transform .3s ease;
      gap: 25px;
    }
  }

  .header__menu-list.header__menu-list_active {
    transform: translateY(0%);
  }

  .top {
    min-height: 750px;
    
    &__btn {
      display: block;
    }
  }

  .gallery {
    &__images {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item-1, &__item-2, &__item-3, &__item-4, &__item-5, &__item-6 {
      max-width: 550px;
    }
  }

  .cooks {
    &__photos {
      gap: 15px;
    }
  }

  .footer {
    padding-top: 45px;
    padding-bottom: 23px;

    &__wrapper-items {
      flex-direction: column;  
      gap: 40px;
      align-items: center;
    }

    &__logo-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__description {
      text-align: center;
    }

    &__job-time-title {
      text-align: center;
    }

    &__nav {
      text-align: center;
    }

    &__menu {
      text-align: center;
    }

    &__copy {
      display: none;
    }
  }
}

@media (max-width: 680px) {
  .top {
    min-height: 650px;

    &__subtitle {
      font-size: 30px;
      line-height: 35px;
    }

    &__title {
      font-size: 40px;
      line-height: 46px;
    }

    &__title-description {
      margin-top: 17px;
    }

    &__text-line {
      width: 30px;
    }
  }

  .intro__cards-items {
    gap: 15px;
  }

  .order {
    &__title {
      font-size: 40px;
      line-height: 46px;
    }

    &__text {
      font-size: 35px;
      line-height: 48px;
    }
  }

  .dishes {
    padding-top: 30px;
    padding-bottom: 30px;

    &__wrapper {
      margin-top: 24px;
    }

    &__card {
      padding: 14px 5px 20px;
    }

    &__card-img {
      max-width: 180px;
      left: -10px;
    }

    &__card-title {
      margin-left: 160px;
      font-size: 16px;
    }

    &__card-text {
      margin-left: 160px;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .slider {
    padding-top: 62px;
    padding-bottom: 40px;
  }

  .gallery {
    &__images {
      gap: 0;
    }
  }

  .footer {
    &__days {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &__days-text {
      text-align: center;
    }
  }
}

@media (max-width: 420px) {
  .top {
    min-height: 550px;
  }

  .intro {
    &__card-item {
      text-align: center;
    }
  }

  .our-story {
    padding-top: 10px;
    padding-bottom: 55px;

    &__counter-food {
      margin-top: 58px;
      flex-direction: column;
      gap: 58px;
    }

    &__image {
      gap: 58px;
    }

    &__title {
      font-size: 45px;
    }

    &__title_type_yellow {
      font-size: 45px;
    }
  }

  .order {
    padding-top: 40px;
    padding-bottom: 58px;
  }
}