@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

$color-white: #FFFFFF;
$color-yellow: #F7C334;
$color-black: #2F2A2A;
$color-grey: #c4c4c4;
$font-montserrat: "Montserrat", "Arial", sans-serif;
$font-open-sans: "Open-Sans", "Arial", sans-serif;
$font-tinos: "Tinos", "Arial", sans-serif;

%ul-properties {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.html {
    box-sizing: border-box;
    height: 100%;
}

.root {
    height: 100%;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    background-color: $color-black;
}

.header{
    &__inner {
        background-color: $color-black;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        align-items: center;
    }

    &__menu-list {
        display: flex;
        gap: 38px;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__menu-list-link {
        text-decoration: none;
        color: $color-yellow;
        text-transform: uppercase;
        font: 100% $font-montserrat;
        font-weight: 700;
    }

    &__order {
        display: flex;
        align-items: center;
        gap: 19px;
    }

    &__order-trash {
        width: 16px;
        height: 15px;
        background-color: $color-black;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    &__contact-us {
        border-left: 1px solid $color-yellow;
        max-width: 122px;
        padding-left: 9px;
    }

    &__phone {
        display: flex;
        gap: 9px;
    }

    &__phone-number {
        color: $color-yellow;
        margin: 0;
        font: 100% $font-open-sans;
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
    }

    &__contact-text {
        color: $color-yellow;
        margin: 0; 
        font: 100% $font-open-sans;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
    }

    &__button-order {
        max-width: 134px;
        border-radius: 120px;
        color: $color-white;
        background-color: $color-yellow;
        font: 100% $font-open-sans;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        height: 36px;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
    }
}

.top {
    display: flex;
    background-image: url(../images/top__background.jpg);
    background-repeat: no-repeat;
    min-height: 960px;

    &__wrapper-text {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 207px;
        justify-content: center;
    }

    &__subtitle {
        font: 100% $font-tinos;
        text-align: center;
        font-weight: 400;
        font-size: 57px;
        line-height: 66px;
        margin: 0;
        color: $color-yellow;
    }

    &__title {
        font: 100% $font-tinos;
        text-align: center;
        font-weight: 400;
        font-size: 90px;
        line-height: 103px;
        margin: 0;
        color: $color-yellow;
    }

    &__title-descrition {
        text-transform: uppercase;
        color: $color-white;
        font: 100% $font-open-sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        margin: 27px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }

    &__text-line {
        height: 2px;
        width: 62px;
        background-color: $color-grey;
    }
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro {
    margin: -130px 0 0;
    box-sizing: border-box;

    &__cards-items {
        display: flex;
        gap: 31px;
        @extend %ul-properties;
    }

    &__card-item {
        width: 349px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #353030;
        padding: 48px 20px 54px;
    }

    &__card-img {
        width: 87px;
        height: 87px;
    }

    &__card-title {
        font: 100% $font-tinos;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: $color-white;
        margin: 4px 0 0;
    }

    &__card-title_type_yellow {
        font: 100% $font-tinos;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: $color-yellow;
    }

    &__card-text {
        font: 100% $font-tinos;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: $color-white;
        margin: 20px 0 0;
        text-align: center;
    }
}

.our-story {
    padding: 36px 0 122px;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__text-wrapper {
        max-width: 444px;
    }

    &__title {
        font: 100% $font-tinos;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: $color-white;
        margin: 15px 0 0;
        text-align: center;
    }

    &__title_type_yellow {
        font: 100% $font-tinos;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: $color-yellow;
    }

    &__text {
        margin: 21px 0 0;
        font: 100% $font-open-sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: $color-white;
    }

    &__counter-food {
        @extend %ul-properties;
        margin-top: 39px;
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    &__counter-number {
        color: $color-yellow;
        font: 100% $font-open-sans;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        margin: 0;
    }

    &__counret-text {
        color: $color-white;
        font: 100% $font-open-sans;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        margin: 2px 0 0;
    }

    &__image {
        display: block;
        max-width: 539px;
        width: 100%;
    }
}
